a {
  font-family: "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2rem;
  border: none;
  outline: none;
  transition: 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.5rem;
}

.active,
.accordion:hover {
  background-color: rgb(255, 246, 230);
}

.background-image {
  max-height: 550px;
  width: 100vw;
  object-fit: cover;
  object-position: 46% 54%;
}

#background-image-container {
  margin-top: 120px;
}

#background-image-container.scrolled {
  margin-top: 185px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 40px;
}

.body-home {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-content {
  text-align: center;
}

.body-content i {
  font-size: 3.5rem;
  padding: 20px;
  padding-top: 35px;
  background-color: var(--main);
  width: 90px;
  height: 75px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  top: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body-content li {
  list-style: none;
  padding-left: 0px;
}

.contact-btn {
  display: block;
  background-color: var(--main);
  width: 20%;
  margin: auto;
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-size: large;
}

.contact-btn:hover {
  background-color: rgb(216, 163, 107);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
  font-family: "Arial", sans-serif;
  font-size: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vw;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 8px;
}

.container {
  width: 95vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  flex-grow: 1;
}

.container-secondary {
  width: 95vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  flex-grow: 1;
  margin-top: 55px;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.faq.active {
  border: none;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

footer {
  width: 100%;
  background-color: #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
  padding: 10px 0;
}

.footer-content {
  padding: 10px;
  text-align: center;
}

/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
form label,
form legend {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  height: max-content;
}

form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

form [type="text"],
form [type="email"],
.StripeElement {
  width: 100%;
}

form [type="button"],
form [type="submit"],
form [type="reset"] {
  width: auto;
  cursor: pointer;
  appearance: button;
  font-size: 1rem;
  background-color: var(--main);
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
  outline: none;
  background-color: var(--main);
}

form [type="button"]:hover,
form [type="submit"]:hover,
form [type="reset"]:hover {
  outline: none;
  background-color: rgb(216, 163, 107);
}

form select {
  text-transform: none;
}

.ham-menu {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-top: 15px;
  margin-left: 25px;
  cursor: pointer;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: var(--main);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active {
  background-color: var(--main);
  transition: 0.3s ease;
  cursor: pointer;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: rgb(33, 33, 33);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: rgb(33, 33, 33);
}

header {
  background-color: rgb(255, 255, 255);
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-content {
  text-align: center;
}

#header-secondary #logo-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 70px;
}

hr {
  color: rgb(233, 233, 233);
  margin-top: 30px;
  margin-bottom: 30px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Arial", sans-serif;
}

h2 {
  font-family: "Arial", sans-serif;
}

li {
  font-family: "Arial", sans-serif;
}

.logo {
  height: 130px;
  object-fit: scale-down;
}

#logo-container {
  height: 150px;
  transition: height 0.2s ease;
  padding-bottom: 10px;
}

#logo-container img.logo {
  height: 100%; /* Ensure the logo fills the container height */
}

#main-header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-header.scrolled #logo-container {
  height: 70px;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
}

nav h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.off-screen-menu {
  background-color: var(--main);
  height: 100vh;
  width: 100%;
  max-width: 350px;
  position: fixed;
  top: 0;
  left: -350px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}

.off-screen-menu li {
  list-style-type: none;
  margin-left: -40px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #e0e0e0;
  border-color: black;
}

.off-screen-menu li a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(33, 33, 33);
  text-decoration: none;
  margin-bottom: 1.5px;
}

.off-screen-menu li:hover {
  background-color: #c9c9c9;
}

.off-screen-menu.active {
  left: 0;
}

p {
  font-family: "Arial", sans-serif;
}

.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: rgb(255, 246, 230);
  display: none;
  transition: 0.3s ease;
}

.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
  transition: 0.3s ease;
}

:root {
  --main: rgb(201, 152, 100);
  /* --main: rgb(65, 119, 180); */
  /* --main: rgb(187, 159, 99); */
  /* --main: rgb(85, 104, 117); */
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}
