header {
  background-color: rgb(233, 233, 233);
  position: sticky;
  margin-top: 0vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content {
  padding: 10px;
  text-align: center;
}

body {
  margin: 0;
}

.body-content {
  text-align: center;
}

.container {
  max-width: 95vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 80vh;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
